[2014-04-22 18:42] DenTelezhkin opened #3 "Copyright infringement"
As stated in [MIT license](http://choosealicense.com/licenses/mit/), original author of the code should be mentioned in any copy or substantial portion of the software.

If you don't wan't to be marked as thieves, you probably should include mentions of original author of the library in the code of your library.

And just out of interest, why not sending PR to [EasyMapping](https://github.com/luca

[2014-04-23 15:25] #3 closed, assigned to nobody

[2014-06-16 07:18] dimazen opened #4 "add changelog to readme"

[2014-06-16 07:19] dimazen opened #5 "add usage of assignment policies to readme"

[2014-06-16 07:19] dimazen opened #6 "add handling of nil / empty relationships for "merge" & "replace" policies"

[2014-06-19 09:05] #6 closed, assigned to dimazen

[2014-06-19 09:06] #4 closed, assigned to dimazen

[2014-07-01 09:41] oks opened #7 "nil in relationships"
Maybe it bug comes from #6 , but what I got:
1) I'm using mapping for  NsManagedObject - let's call him myProfileEntity
2) it has attributes, and 3 relationships, 1-1, and two 1-ToMany
2) on first event - to myProfile I try to map data from json, where NO RELATIONSHIP data.
3) got crash on assert in: FEMCache.m : line 110
Terminating app due to uncaught exception 'NSInternalInconsistencyException'

[2014-07-02 07:12] #7 closed, assigned to nobody

[2014-07-02 07:13] dimazen opened #8 "Add FEMMapping.debugDescription"

[2014-07-03 07:51] dimazen opened #9 "Remove relationships mapping ambiguity"
Now user is able to specify - [FEMMapping rootPath] as well, as - [FEMRelationshipMapping keyPath] which leads to ambiguity, since in pair "relationship-mapping" mapping.keyPath is ignored.

Resolution: remove keyPath for FEMRelationshipMapping

[2014-07-18 22:46] xslim opened #10 "Mapping NSNumber to NSString"
I have a property of type `NSString` and a json value that is `NSNumber`. The json value should be translated to the property type.

One of possible implementations:

[code]

Also, we need `NSString` -> `NSNumber`...

[2014-07-19 14:00] #10 closed, assigned to nobody

[2014-09-08 13:58] Ma-He opened #12 "Error on non existing relationship"
I've got a 'Person' entity with a relationship to a 'Location' entity. But in some cases a 'Person' entity can exists without a 'Location' entity. That's why my JSON model doesn't provide a 'location' key for certain persons.

When I try to deserialize a JSON 'Person' into a ManagedObject without a given location relationship, I get the following error:

[code]

Any suggestions on this?

[2014-09-30 12:45] MattiaConfalonieri opened #13 "Crash on array [NSKeyedArchiver archivedDataWithRootObject:array]"
a am trying to map

[mapping addAttributeMappingDictionary:@{@"ingredienti" : [NSKeyedArchiver archivedDataWithRootObject:array]

where "ingredienti" is a Binary Data property od core data but crash with error:

-[_NSInlineData characterAtIndex:]: unrecognized selector sent to instance

is my fault or is a bug?

[2014-10-06 09:25] superandrew opened #14 "Quick start problem"
Hello, I am having trouble setting ap FEM.

This is my code:

[code]

And how I call it:

   Chromosome *c = [FEMManagedObjectDeserializer deserializeObjectExternalRepresentation:chr usingMapping:[MappingProvider chromosomeMapping] context:_setupContext];

I have this error

**\* Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Invalid parameter not satisfying

[2014-10-15 17:29] superandrew opened #15 "Invalid parameter not satisfying: primaryKeyMapping"
Hi, I just don't understand what the problem is, I'll try to explain.

I have an entity which has 4 attributes: key, locale, translation. In a traditional database, the primary key would be created with two fields, key and locale.

In core data, having no need for a primary key, it's not clear which primaryKey should I set in

[code]

What am I missing/doing wrong?

Thanks

[2014-10-15 17:46] #13 closed, assigned to dimazen

[2014-10-15 17:50] dimazen opened #16 "Incorrect datetime mapping"
Mapping done with usage of TimeZone based on Europe/London. It leads to usage of BST at summer instead of UTC.

[2014-10-17 10:41] gorbannastya opened #17 "NSNull.null checking missed in FEMObjectDeserizlizer"

[2014-10-17 11:04] dimazen opened #18 "Invalid mapping of NULL datetime"
If input datetime is NULL - it is ignored, and current value doesn't get replaced.
expected behaviour: replace current value with nil

[2014-10-17 11:04] dimazen opened #19 "Invalid URL mapping"
If input value is NULL - it is ignored, and current value doesn't get replaced.
expected behaviour: replace current value with nil

[2014-10-18 12:03] #18 closed, assigned to dimazen

[2014-10-18 12:03] #19 closed, assigned to dimazen

[2014-10-18 12:08] #17 closed, assigned to nobody

[2014-10-18 12:08] #16 closed, assigned to dimazen

[2014-10-18 12:09] #12 closed, assigned to dimazen

[2014-10-18 17:36] #14 closed, assigned to dimazen

[2014-10-22 15:43] #15 closed, assigned to dimazen

[2014-12-01 17:38] Shjv4 opened #22 "Mapping complicated arrays return NSUnknownKeyException"
Now I try to parse JSON from Wordpress API ( https://developer.wordpress.com/docs/api/1/get/sites/%24site/posts/ ), i can mapping almost fields of "post" object but I don't know how to do with "tags", "categories" and "attachments" fields. Here's my code:
- (FEMManagedObjectMapping *)postMapping {
  return [FEMManagedObjectMapping mappingForEntityName:@"PostWP" configuration:^(FEMManagedObjectMapp

[2014-12-09 10:41] #22 closed, assigned to nobody

[2015-01-29 09:51] nashfive opened #23 "Support for same class nested objects ?"
I am trying to use FastEasyMapping to support nested objects of the same type.

For example, a class Person might have an array of Person (children...) :
[code]

This obviously ends up in an infinite loop...

Is there a way to use FastEasyMapping with this setup ?

[2015-01-29 09:54] dimazen commented on #23
@nashfive
Every person (even nested one) can have children, correct? No limits for nesting?

[2015-01-29 09:56] nashfive commented on #23
@dimazen Exactly. Sorry I forgot to mention the "unlimited" nesting levels...

[2015-01-29 10:11] dimazen commented on #23
@nashfive
Well, fem not designed for stuff like that. However, you can try kind of a workaround like that:

[code]

To be honest, I'm not sure, but it *might* work.

[2015-01-29 10:12] dimazen commented on #23
@nashfive
You have to note, that there is a retain cycle as well.

[2015-01-29 12:35] nashfive commented on #23
@dimazen
Thanks... It works, but as you mentioned, it also creates retain cycles...
By the way, I am closing the issue because I was just evaluating JSON parsers ;-)

Thanks again for your help.

[2015-01-29 12:35] #23 closed

[2015-01-29 21:11] dimazen commented on #23
@nashfive you're welcome!

[2015-04-02 12:14] MaksimBazarov opened #24 "Mapping NSString to NSNumber if it possible"
because values in json may wrap by " " and NSJSONSerialization will return something like this:

[code]

[2015-04-07 06:53] dimazen commented on #24
Hello, @MaksimBazarov
All you need is to perform custom mapping like that:

[code]

where actual mapping implemented in next way:

[code]

[2015-04-07 07:06] MaksimBazarov commented on #24
Thank you man! its brilliant because without your mapper it very slo :)

[2015-04-07 07:06] #24 closed

[2015-04-07 07:11] dimazen commented on #24
Sorry for slow response!
You just need to be aware of NSNull.null in ```map``` block.
This happens in case, when this value is "missing" in the JSON. Usually you need to passthrough NSNull.

For your particular task all you need is to:
[code]

[2015-04-07 07:11] MaksimBazarov opened #25 "Is there way to make primary key from two or more fields?"
Right now it just NSString

[2015-04-07 07:19] MaksimBazarov commented on #24
@dimazen Thanx again!

[2015-04-10 22:21] BenjaminSarkisyan opened #26 "Connecting Non-Nested Relationships Using Foreign Keys"
Hello.

FastEasyMapping support non-nested relationships using foreign keys like RestKit?

JSON attributes are sometimes foreign key identifiers to existing Core Data entities, such as entities obtained by a separate RKObjectRequestOperation. RestKit provides a method to map to an entity
using a foreign key identifier. Consider the following JSON:

[code]
and the corresponding models where ```User

[2015-04-14 19:09] dimazen commented on #26
Hello, @BenjaminSarkisyan
In short: yes, it is possible.
All you need to do is: add relationship to the entity mapping. In entity mapping you should have only one Attribute Mapping for PK property and no key path.

[2015-04-14 19:19] BenjaminSarkisyan commented on #26
Thank you for your reply. @dimazen can you write example please.

[2015-04-14 20:43] dimazen commented on #26
Sure:

[code]

[2015-04-15 06:00] BenjaminSarkisyan commented on #26
Thank you very much.

[2015-04-15 06:00] #26 closed

[2015-04-23 06:33] dimazen commented on #25
@MaksimBazarov haven't seen this.
No, at the moment there is no way to add second key due to fetch predicate used in cache

[2015-04-23 10:49] dodikk opened #27 "[feature] Mapping dictionary keys to entity properties"
Having a server response (chunk)
[code]

I'd like to get two entities of "thumbnail" type having both dictionary key and its value stored in its properties.

[code]

[2015-04-23 10:50] dodikk commented on #27
The home repo (EasyMapping/EasyMapping) seems to have the API to solve this problem.
https://github.com/EasyMapping/EasyMapping/blob/master/EasyMapping/EKObjectMapping.h#L167

Please merge it to your fork.

[2015-04-26 20:54] k06a opened #28 "Best way to track changes"
I am using CoreData and trying to track when my entity field `logo_url` is changed so I can download new logo right after entities updating finished. I there any less code solution other then remembering old values before updating and comparing them with new values?

[2015-04-26 20:58] k06a commented on #28
Maybe to store Photo on separate entity and update relationship after changing? But how my mapping should look like this way? It is just:
[code]

[2015-04-27 19:28] DenisDbv opened #29 "addRelationshipMapping issue"
I have user entity in card entity. Card have relation to user. 1-1
{
  "user": {
       "phone": "11111111111",
        "active": true
    }

  ....
}

In Card mapping:
[mapping addRelationshipMapping:[User mapObject]
                                                                         forProperty:@"creator"
                                                                             keyPath:@

[2015-04-29 07:32] dimazen commented on #27
@dodikk I'll take a look on this weekends, thanks!

[2015-04-29 07:35] dimazen commented on #28
Hello, @k06a
Hm, I'm thinking on adding some kind of "post-actions". They looks like

class Actions {
   .. onObjectMapping (object, representation)
}

However, your #30 can be possible way out, I'll take a detail look on this weekends

[2015-04-29 07:38] dimazen commented on #29
@DenisDbv Can you post description of how both Card and User mapping as well as full json?

[2015-05-19 20:21] k06a opened #32 "Best way to map subrequest without manual add/remove"
I am using request to get places:
[code]
Then I need to make request:
[code]

I am doing this way:
[code]
For each place I am doing request and mapping like this this:
[code]

And then I am trying to determine menus to add and to remove from `place` objects:
[code]

Really I don't wanna use this code :) I wanna Fast and Easy Mapping. Please tell me how to avoid this code with FAM.

[2015-05-25 07:43] dimazen commented on #32
@k06a basically all you need is to "replace" old menus by new one with reuse of existing? Am i right?

In this case this code should help you:
[code]

[2015-05-25 07:44] dimazen commented on #32
@k06a
Also does http://.../api/json/GetPlaceMenu?place_id=%@ contains identifier of place or just nested menus?

[2015-05-25 07:49] dimazen commented on #28
@k06a If this issue still relevant check out branch https://github.com/Yalantis/FastEasyMapping/tree/1.0
It behaves identically. What you're looking for is a FEMDeserializerDelegate, which allows you to do next
[code]

All you needs to be aware of is: ```FEMManagedObjectMapping``` & ```FEMObjectMapping``` are now combined into ```FEMMapping```, ```FEMManagedObjectDeserializer``` & ```FEMObjectDese

[2015-05-25 07:51] dimazen commented on #28
So in your specific case you have to use next code:

[code]

[2015-05-25 07:53] dimazen commented on #28
Then by implementing ```FEMDeserializedDelegate``` you can receive most of the deserailziation callbacks. Be aware that in those callbacks you'll receive not only top-level entities, but entities from relationship as well, so check FEMMapping.entityName to be sure.

[2015-05-25 07:56] #25 closed

[2015-05-25 11:45] k06a commented on #32
@dimazen, `Menu` json does not contains parent `place_id`.

[2015-05-25 12:50] k06a commented on #28
It will be perfect to see updated `readme.md` on new branch `1.0`

[2015-05-25 14:02] dimazen commented on #32
@k06a ok, in this way you probably need something like that:

[code]

[2015-05-25 14:55] k06a commented on #32
@dimazen thanks!

[2015-05-31 23:11] k06a commented on #32
@dimazen I am using `deserializeCollectionExternalRepresentation` and I am falling on `NSAssert` on `FEMCache.m:94`:
[code]

[2015-06-04 11:04] dimazen commented on #32
@k06a hm, can you share the JSON & mapping?

[2015-06-05 09:45] k06a commented on #28
I think tracking changes is very helpful on object side. Like I did it here: https://github.com/Yalantis/FastEasyMapping/pull/30

I am really disappointed that method `[NSManagedObject didChangeValueForKey:]` is denied to be overrriden:
[code]

[2015-06-05 11:20] dimazen commented on #28
@k06a I'm going to roll out 1.0 on this weekends, so you should be able to track at least mapping progress itself, not the changes.

changed values can be tracked in ```willSave```.

[2015-07-01 08:59] dodikk opened #33 "[question] addToManyRelationshipMapping for same entity"
Does the library cover the following case ?

![screen shot 2015-07-01 at 11 55 18 am](https://cloud.githubusercontent.com/assets/396451/8450963/161a494c-1fe8-11e5-9574-5827324608d4.png)

[code]

[2015-07-01 10:58] xhzengAIB opened #34 "Hi! In the future will add a detailed use the Demo?"

[2015-07-01 13:50] dimazen commented on #33
Nope

[2015-07-02 08:46] dimazen commented on #34
@xhzengAIB
Unfortunately, I'm releasing project atm, so can't tell you exactly about terms of the update. 100% it'll be updated with 1.0 release (https://github.com/Yalantis/FastEasyMapping/tree/1.0)

[2015-07-02 09:04] xhzengAIB commented on #34
Hi! @dimazen

Convert NSObject model, need complete encodeWithCoder: and initWithCoder: methods?

Jack

[2015-07-02 09:06] xhzengAIB commented on #34
I check the Mantle, subClasse MTLModel don't need to implement encodeWithCoder: and initWithCoder: methods

[2015-08-28 10:56] #33 closed

[2015-08-28 10:57] #9 closed

[2015-09-01 09:11] dimazen commented on #34
@xhzengAIB I've released [1.0](https://github.com/Yalantis/FastEasyMapping/releases/tag/1.0) version with updated README, that contains most of the info you need. Also tests was update to the latest syntax, so you can use them as an example.

[2015-09-01 09:11] #34 closed

[2015-09-01 09:11] #29 closed

[2015-09-01 09:12] dimazen commented on #28
@k06a Version [1.0](https://github.com/Yalantis/FastEasyMapping/releases/tag/1.0) is released! You can check [Delegation](https://github.com/Yalantis/FastEasyMapping#delegation) section for docs.

[2015-09-01 09:12] #28 closed

[2015-09-01 09:14] dimazen commented on #5
@oks We've released 1.0 with updated README. Check out if it is still relevant for you.

[2015-09-01 09:14] #5 closed

[2015-09-01 18:42] steve21124 opened #35 "is CoreData required?"
Easy mapping does not need core data. Is it correct to assume FastEasyMapping does not require coredata?
https://github.com/EasyMapping/EasyMapping

[2015-09-01 18:49] dimazen commented on #35
No, you can map plain old NSObject ;) Just use `FEMMapping *mapping = [[FEMMapping alloc] initWithObjectClass:];`

[2015-09-01 19:13] steve21124 commented on #35
thanks. I just read from your article "In order to import data from JSON to Core Data". Good thing you mentioned it did not require CoreData. just from quick skim through, I thought it require CoreData.

[2015-09-01 19:22] steve21124 commented on #35
by the way, FastEasyMapping created for CoreData in mind. (https://yalantis.com/blog/from-json-to-core-data-fast-and-effectively/) If I am not using CoreData, will I have the benefit of fast performance compare to EasyMapping? or only if I use CoreData then I get the benefit of fast performance?

[2015-09-01 19:23] dimazen commented on #35
Actually there should be almost no difference, since EasyMapping merged our performance improvements, so if you already using EM, there is no real reason to move to the FEM in terms of performance. ;)

[2015-09-01 19:25] steve21124 commented on #35
ooo. good. thanks for the clarification. that's save me a lot of time in testing it.

[2015-09-01 19:25] #35 closed

[2015-09-01 19:27] dimazen commented on #35
You're welcome!

[2015-09-02 02:09] xhzengAIB commented on #34
@dimazen
Thank you！

[2015-09-05 00:02] steve21124 opened #36 "Is there any JSON Mapping faster than FastEasyMapping?"
I have 100k rows of data with 100 fields. I have integrate EasyMapping and it takes about 8 seconds to map it to object class. Since FastEasyMapping created for performance issue, do you know any other ways to even improve the mapping performance?

[2015-09-05 05:57] dimazen commented on #36
Can you share a time profiler data? (via skype or drop link here)

[2015-09-05 06:29] dimazen commented on #36
If this time includes saving of data then you can try to split your data into chunks and import by 1k for example. And measure, what's working best for you.

[2015-09-05 07:36] steve21124 commented on #36
Thank you for the help and good idea into splitting into chunks. The performance improvement currently targeting time to do data mapping.

Here is the sample JSON Data
https://www.dropbox.com/s/zpxjl5wsjfpe2sm/JSONData.json.zip?dl=0
and using EasyMapping test code.
https://www.dropbox.com/s/dff082mtj1jd1ny/EasyMapping.zip?dl=0

you can execute the command using this and it take about 8 - 10 second

[2015-09-05 07:38] steve21124 commented on #36
oh yeah, if swift be able to improve the performance, that's totally fine too.

[2015-09-06 07:49] dimazen commented on #36
@steve21124
Ok, it seems, that we're dealing with KVC & ARC constraints. I don't see any way (for now) that can dramatically improve performance.

About Swift: I don't believe it'll improve performance. Rather the contrary.

[2015-09-06 21:02] steve21124 commented on #36
Thanks @dimazen. yes, KVC alternative will be Fast enumeration however it will be less flexible. Do you know by any chance, know the Time Complexity of KVC (Big-O) under the hood?

[2015-09-08 20:04] dimazen commented on #36
Have no idea. I'm pretty sure, that KVC is quite optimized.
All you can do, probably, is to switch to the C and direct ```object.value = dictionary.objectForKey(...)```
This will eliminate KVC layer and save some time ;)

[2015-09-08 20:37] steve21124 commented on #36
Thanks @dimazen. I agree. I will close the issue for now. I think we are at the point of no dramatically optimization improvement can be done as far as requirement of only using ObjectiveC/Swift

[2015-09-08 20:37] #36 closed

[2015-09-10 22:05] sxua opened #37 "Get current context in mapping"
Is it possible to get a current context in mapping in 1.0 like it was before with `FEMCacheGetCurrent()`?
Or maybe there's some other workaround exists for such cases?

[code]

[2015-09-11 19:50] dimazen commented on #37
@sxua
It seems, that you should be using [relationship](https://github.com/Yalantis/FastEasyMapping#relationship-bindings-by-pk) binding instead of manual lookup ;)

[2015-09-11 19:54] sxua commented on #37
@dimazen Sometimes you have to deal with existing API and mobile app database structure. That's why I'm still using FEM v0.5.1. :-)

[2015-09-11 19:58] dimazen commented on #37
You can use the same approach for 0.5.1 for relationships:

[code]

[2015-09-11 20:02] sxua commented on #37
Ok, thanks. Looks promising. :+1:

[2015-09-12 14:34] dimazen commented on #37
@sxua by the way, 1.0 is backward compatible with 0.5.1 via `@compatilibity_alias`. So after update you'll be able to use the same syntax as before just with couple of warnings.

[2015-09-25 22:09] olezko46 opened #38 "AFNetworking + FastEasyMapping не маппит объекты из JSON"
Пишу на русском заведомо зная, что компания Украинская. Надеюсь на очень быструю помощь)
C сервера приходит следующий json:
[code]

Сам запрос и передача NSDictionary на маппинг:
[code]

Сгенерированная CoreData`ой .h файл модели:
[code]

Имплиментация модели с маппингом:
[code]

По факту все работает и ниодной ошибки в логе нет, но при выводе объекта в лог получается:
[code]

То есть некоторые об

[2015-09-26 10:09] #38 closed

[2015-10-26 14:41] #37 closed

[2015-10-29 21:23] rmncv opened #40 "swift issue"

[2015-10-29 21:57] rmncv commented on #40
Okay, there's a problem with optional properties. replacing
[code]
to
[code]
fixed an issue, but is there any ways of handling situation?

[2015-12-18 08:58] #40 closed

[2016-01-06 02:40] limbo-lab opened #43 "What is there is an error duration serializing & deserializing?"
It seems it has no error handling duration serialing & deserializing.

[2016-01-11 18:59] arietis opened #45 "Reference to ‘FEMManagedObjectMapping’ is ambiguous"
Hello!
I’m getting error “Reference to ‘FEMManagedObjectMapping’ is ambiguous” when building my project using version 1.0.1. Version 0.5.1 i have used before works fine. Any ideas what am i doing wrong?
Thanks!

[2016-01-11 20:32] dimazen commented on #43
Hello, @limbo-lab! At this moment - nope.
What kind of errors do you need to handle?

[2016-01-11 20:35] dimazen commented on #45
Hm.. Quite strange error. In 1.0  `FEMManagedObjectMapping` has been renamed to the `FEMMapping`. I've added typealias for such migration, however it doesn't work for you :(

Ugly way to fix it is to replace `FEMManagedObjectMapping` by `FEMMapping`.

[2016-01-12 09:28] arietis commented on #45
I still have the issue after replacement.

[2016-01-26 09:50] dimazen commented on #45
@arietis Finally I've fixed it. Checkout 1.0.2 release!

[2016-01-26 09:50] #45 closed

[2016-01-27 12:49] schwindt opened #47 "Use of '@import' when modules are disabled"
Installed with cocoapods
added FEMMappingUtility.h to the project pch file and get:
FEMMappingUtility.h:6:1: Use of '@import' when modules are disabled

[2016-02-03 15:18] dimazen commented on #47
This is due to the `@import` usage instead of plain `#import ""`.
There are two ways:
1. enable modules in your project
2. I'll replace @import by #import if possible

[2016-02-18 20:06] mmartikainen opened #49 "Any plans for Realm support?"
I am interested in using FEM with Realm.
Any plans on implementing a FEMRealmObjectStore?

[2016-02-23 15:04] ollieatkinson commented on #43
@dimazen What if the type returned by the server isn't as expected - I assume outdated clients would want to handle the error gracefully.

Unfortunately I have worked with organisations in the past who provide inconsistent feeds thus it is a requirement to not crash!

[2016-02-29 08:23] fedser opened #50 "Ability to disable autocreation properties"
Now each property/relationship autocreated even if there are missing such json key in response. For relationship there are exists similar option like "weak", but it's has another meaning.
Could you add in mapping property like "disableAutocreation" to exclude creation empty object if there are missing key in json(during looking in the  code is should involve on "allocateIfNeeded" in FEMDeserialize

[2016-03-01 00:43] petrovi4 opened #51 "(De-)Serialize inner properties"
I have JSON with structure:
[code]
And object
[code]

Can I serialize/deserialize Model with FastEasyMapping?

[2016-03-01 14:05] dimazen commented on #49
Hello, @mmartikainen. Actually, there is an implementation of that store in the branch [feature/realm](https://github.com/Yalantis/FastEasyMapping/tree/feature/realm). But I'm quite busy for this moment to finish it :(

[2016-03-01 14:07] dimazen commented on #43
Hm, for now the only way to handle this is to wrap deserialization into the try/catch, since most of the errors are generated by the KVC. I actually wasn't planning any sort of the errors handling in the next release (the one with Realm support).

[2016-03-01 14:07] #32 closed

[2016-03-01 14:09] dimazen commented on #50
Hello, @fedser.
Could you please share an example of the JSON and mapping for me to better understand (few fields will be more than enough). As far as I understood, you want to skip creation of the instance if one of the keys is not presented?

[2016-03-01 14:20] dimazen commented on #51
Hello, @petrovi4. Yep, all you have to do is to specify correct keyPaths for the `image_width` and `image_height` like that:

[code]

You can also make it more robust by mapping size to CGSize and back:

[code]

[2016-03-01 14:43] fedser commented on #50
Here are example of part json:
`{"result":[{"id":"234242342","name":"Pack 9","rightContactLensArticle":{"type":"ContactLens","productName":"Product 1","lifecycleState":"Active","supplierDeliveryTime":1440,"storageType":"None","isDeliverable":false,"package":{"size":3,"unit":"Pieces"},"price":{"currency":"EUR","grossAmount":12.59},"id":"22222222"},"rightOpticalSpecification":{"diameter":14,"radiusB

[2016-03-02 23:47] LivioGama opened #52 "How do you parse ?"
Hi,

How would you parse :
[code]

Comment.swift
[code]

[2016-03-11 07:09] valnoc opened #53 "Recursive mapping"
Hi! Thx for your work on FEM.

I have faced a problem with one case. Let's say, we have entity with a relationship to self.
[code]
I define mapping, as it was recommended - having a defaultMapping method, which returns FEMMapping.
And I have an infinite recursion, because inside defautlMapping I call this method again to get mapping for children property.
And of course, I'm talking about a general

[2016-03-15 10:39] dimazen commented on #50
Sorry, was highly busy. It seems, I got what you're talking about.
From what I see you need to set ```keyPath``` to the relationship itself, not to the ```leftArticleMapping``` . It is a bit confusing, but the issue here is that during relationship parsing deserializer takes your relationship, sees that there is no ```keyPath``` and uses the whole object representation. Therefore it thinks that ob

[2016-03-15 10:40] dimazen commented on #51
@petrovi4 does it work?

[2016-03-15 10:59] dimazen commented on #52
Hello, @LivioGama. Sorry for a big delay. Looks like you need to setup a relationship based on a primary key, so this is how I would go:

[code]

You can notice a trick, when we're adding the ```uuid``` attribute at ```nil``` keyPath. It leads to the case when deserializer use whole object representation as a value for the ```uuid```. In other words it goes like that:

* map attributes for ```Comm

[2016-03-15 11:02] dimazen commented on #53
Hi, @valnoc! Thanks for the usage :)

Unfortunately this feature isn't supported yet.

[2016-03-15 11:19] LivioGama commented on #52
Thanks for the answer ! I did it another way during this time and it works too :
<pre><code>
 let comment = FEMDeserializer.objectFromRepresentation(commentJSON.dictionaryObject!, mapping: Comment.defaultMapping(), context: context) as! Comment
        let postId = commentJSON["post_id"].stringValue
        let post = FEMDeserializer.objectFromRepresentation(["uuid": postId], mapping: Post.default

[2016-03-15 11:30] LivioGama commented on #53
I had this situation in a project.
Let's say that you have an entity User that have followers (like in Twitter) which are users themselves.
Instead of having a relationship "followers" to User itself, make and attribute "followers_uuids" Transformable where you will store and NSArray<NSString *> *followersUUID.

In your parsing, you still parse and store all the Users, but in you code, in order to

[2016-03-15 21:11] fedser commented on #50
Ok, I see what you mean and your first reply in this thread was correct but I misunderstood it while. Yes, I need more like "mandatory keys" for my case, but in this case library will be more complex. Thanks!

[2016-03-15 21:11] #50 closed

[2016-03-16 06:25] valnoc commented on #53
Thx for the responses!

@dimazen
ok) i'll try to dive into FEM a little bit later and add this case (if it could be done without a lot of pain).
Do not close this issue, please.

@LivioGama
I came up with a similar solution.
I create another mapping for children objects, which uses only identifiers. All children are preliminarily added to the JSON root collection to get all the info mapped.
As far

[2016-03-17 21:15] petrovi4 commented on #51
@dimazen Yes, your solution works perfectly.
Thx!

[2016-04-27 20:44] yarmolchuk opened #56 "Carthage"
Add explicit version for carthage

[2016-05-26 15:55] Chhaya opened #58 "Mapping ISO Date"
Hello,
I am having problem with mapping of ISO Date.
Date I get from server is 2016-03-07T00:00:00.000-06:00

And when this reaches to this function:

id FEMRepresentationValueForAttribute(id representation, FEMAttribute *attribute)
{
    id value = attribute.keyPath ? [representation valueForKeyPath:attribute.keyPath] : representation;
    // nil is a valid value for missing keys. therefore attri

[2016-05-31 12:36] dimazen commented on #58
Hello, @Chhaya
Can you show your mapping? There is a shortcut `+[FEMAttribute mappingOfProperty:keyPath:dateFormat:]`. Do you use it?

[2016-06-23 11:28] kryzhikh opened #59 "Primary Key from multiple attribute"
Hello,

Is there any way to have multiple attributes as a primary key? I have an object that has 2 string attributes and combination of them determines the object uniqueness.

Thanks.

[2016-06-23 13:31] dimazen commented on #59
Hello, @kryzhikh! Unfortunately no. I was trying to manage stuff like that in the past but wasn't able to manage correct prefetch. Issue is in the predicate, when we have to fetch objects that has received IDs.
When key is one, then predicate is `PK IN arrayOfPKs`, however for multiple PKs it is hard to describe it. This should be either a very long `(PK1 == A && PK2 == B) || (PK1 == A1 && PK2 ==

[2016-06-23 13:56] kryzhikh commented on #59
Thanks for the quick reply! No ideas so far.. I'll let you know, if I work it out.

[2016-06-23 14:12] dimazen commented on #59
Well, we can go with `PK1 IN firstPKArray AND PK2 IN secondPKArray`. I assume, that sql does optimisation, so lookup don't have to be O(n^2). This might be an idea.

[2016-06-30 08:39] Hs-Yeah opened #60 "The description of FEMAssignmentPolicyCollectionReplace in README.md is wrong"
I think the description of FEMAssignmentPolicyCollectionReplace should be something like

`Result = New ∪ (Old - New ∩ Old) = New`

[2016-08-08 12:08] souravray opened #61 "conditional mapping"
How to pass additional parameter to defaultMapping method, so I can  map conditionally like bellow

[code]

[2016-08-09 05:58] souravray opened #62 "is the example of Weak relationship in README.md correct?"
Hi,  In the _README_ the example of weak is shown like below
[code]
 _FEMMapping_ doesn't have a visible method/property named **_weak_**, though _FEMRelationship_ have a BOOL property name **_weak_**

[2016-08-10 08:32] dimazen opened #63 "Fix Travis CI configuration"
https://travis-ci.org/Yalantis/FastEasyMapping for some reason always reports "build failed". Fix it.

[2016-08-10 08:33] dimazen commented on #62
This one is fixed. You can check out latest README.md file.

[2016-08-10 08:33] #62 closed

[2016-08-10 09:09] dimazen commented on #61
For different mappings you can either pass a flag or declare two different mappings, as you did above (preferred). Actually `defaultMapping` is just a name of the method and framework doesn't aware of it, therefore you can name at as you'd like to: `+[User timelineMapping]`, `+[User detailsMapping]`. Or pass flag to method: `+[User defaultMappingWithPrimaryID:(enum UserPrimaryID)primaryID` (you ca

[2016-08-17 04:17] souravray opened #64 "Issue in enforcing MergePolicy of NSManagedObjectContext"
Hi,

My code looks like bellow

[code]

and I have set constraint on userId like this - [https://puu.sh/qE7Uw/314fa1dc42.png](https://puu.sh/qE7Uw/314fa1dc42.png)
The above code does not merge the duplicate object, and resulted duplicate rows like

[code]

If  change the above code to

[code]

the the Duplicate objects merge properly and result in a single row, like

[code]

Which is kind of a wir

[2016-08-19 18:15] #63 closed

[2016-08-20 19:52] souravray commented on #61
Thanks @dimazen this solution works for me.

[2016-08-20 19:52] #61 closed

[2016-08-22 08:09] dimazen commented on #64
The trick is that you're using constraints, that are resolved only during `save` operation:
[code]

Regarding your question: do you want to resolve duplicates using method similar to `collectionFromRepresentation`? Is that correct?

[2016-08-23 12:17] souravray commented on #64
Hi Dima, that's correct I want collectionFromRepresentation to resolve the merge conflict.
Merge conflict is different from FEM's PK base duplicate check in the following aspects -
1. There are multiple merge policy options. For example the **_NSMergeByPropertyObjectTrumpMergePolicy_**, which I have used in my example doesn't over ride the object completely. I only prioritized merging of changes m

[2016-08-24 09:31] #58 closed

[2016-08-24 09:43] dimazen opened #66 "Add NS_ASSUME_NONNUL_BEGIN/END macros usage"

[2016-08-24 10:21] dimazen commented on #53
Merged by https://github.com/Yalantis/FastEasyMapping/pull/68

[2016-08-24 10:21] #53 closed

[2016-08-24 10:27] #52 closed

[2016-08-24 10:27] #51 closed

[2016-08-24 10:29] dimazen opened #69 "Add documentation for classes / methods / properties"

[2016-08-24 11:03] dimazen commented on #66
Fixed by #70

[2016-08-24 11:03] #66 closed

[2016-08-29 11:11] dimazen opened #71 "Prepare 1.1 version"

[2016-08-29 11:22] #71 closed

[2016-08-29 11:29] dimazen commented on #47
Fixed by unexpected @import statement in FEMMappingUtility in 1.1

[2016-08-29 11:29] #47 closed

[2016-08-29 14:07] dimazen commented on #64
@souravray just to wrap up: method, that might looks like "synchronised collection from representation" should solve the issue by resolving duplication automatically (not involving merge policies). This actually was done before :)

[2016-09-01 11:16] souravray commented on #64
hi Dima,
Yes I  was expecting _**collectionFromRepresentation**_ to  do this but for some strange reason it is not working. Refer the first code snippet.

[2016-09-01 11:31] dimazen commented on #64
@souravray I got it. There was a specialised method in the past which is deleted right now.
I have a plan for 1.1.1 release, than 1.2 that will include Carthage support, framework target and this function (but this is a 11th of Sept). How urgent is it (just to plan my schedule)?

[2016-09-01 11:46] souravray commented on #64
That's fine :)
I have to freeze my codebase by 15th.

[2016-09-24 19:39] k06a opened #73 "Best practice for defining mapping for inherited models"
I just need to create copy of parents `FEMMapping` with different entity name and add some fields. Is there any best practice how to do it without possible problems? Maybe some shortcuts?

[code]

[2016-09-26 09:31] dimazen commented on #73
@k06a hello!
Thats a good question. I can suggest to add a method to the parent that adds all of the attributes and later invoke it from both subclass and a superclass. However it looks ugly.

Actually, it worth nothing to add conformance of NSCopying, the only blocker at the moment is that `entityName` and `objectClass` are readonly. I'm thinking of conforming to the NSCopying and:
- provide spec

[2016-09-26 09:36] dimazen commented on #73
Just to add how I was doing this before. In the parent I have a method that creates "default" version of mapping and looks like:
[code]

Since I'm using `[self entityName]` it gets correctly picked up by both parent and child. Later you can even override `+defaultMapping` in the subclass and by calling `[super defaultMapping]` you should receive correct mapping with subclasses entity name.

[2016-09-26 12:44] k06a commented on #73
Nice idea with `entityName` method overriding. I see no reason to keep entityName and objectClass read only.

[2016-09-27 07:05] dimazen commented on #73
@k06a ok, then lets stick to the `NSCopying` and `readwrite` for `entityName` and `objectClass`. I should be able to pick it up on this wednesday :)

[2016-09-28 06:49] dimazen commented on #69
Closed by #75

[2016-09-28 06:49] #69 closed

[2016-09-28 06:53] dimazen opened #76 "Fix copying of recursive relationships"

[2016-09-29 07:50] dimazen commented on #76
Fixed

[2016-09-29 07:50] #76 closed

[2016-10-04 06:37] dimazen commented on #73
Closed by (1.1.1)[https://github.com/Yalantis/FastEasyMapping/releases/tag/1.1.1]

[2016-10-04 06:37] #73 closed

[2016-12-11 15:58] Maxatma opened #77 "Comparison to ObjectMapper swift"
Hi, any library comparison to this one https://github.com/Hearst-DD/ObjectMapper ?

[2016-12-13 11:27] dimazen commented on #77
@Maxatma Hello there. Let me take a look at the internals of the ObjectMapper. I'll get back to you shortly.

[2016-12-13 12:49] dimazen commented on #77
@Maxatma I reviewed ObjectMapping as here is sort of small comparison:

- FEM is built on top of the KVC. As the result you can work only with `NSObject` successors. Also you're loosing type safety if you're working in Swift. ObjectMapper in contrast done with Swift in mind, therefore you're able to work with `struct` or any Swift `class` without pain.

I would say that FEM was done mostly for the

[2016-12-13 13:07] Maxatma commented on #77
@dimazen Thanks for your time. I'm just looking for update my objc project, I have used FEM for mapping my Realm objects before, it provide really cool and simple syntax.
ObjectMapper has a lot of
something    <- map["something"]
this kind of code. And it looks like I can't avoid it.

[2016-12-13 14:00] dimazen commented on #77
I'm not sure that there are any mappings on pure swift that provides same syntax as FEM due to absence of the KVC. :(

[2016-12-14 18:22] Maxatma commented on #77
@dimazen Okay and Thanks again :)

[2016-12-14 18:22] dimazen commented on #77
You're welcome!

[2016-12-19 14:20] pablucco opened #78 "FEMMapping relationship for different classes"
Hi! I have a question about ability of FastEasyMapping to map relationship with different inner classes. I.e. I have a Questionnaire and it has 'questions' relation, but each question can be QuestionOpen or QuestionSelection, I can designate which class is that by 'type' property. How can I achieve that?

[2016-12-20 08:29] dimazen commented on #78
Hello, @pablucco
It is kind of a dynamic mapping that can be found on RestKit. Unfortunately it is not implemented and therefore you won't be able to do so.

However I can take a look in the evening how much effort it'll take to implement it. It should be fairly simple to do.

[2016-12-20 14:01] pablucco commented on #78
It would be so great! How are you planning to implement that? I mean will that cause architecture changes?

[2016-12-22 08:37] dimazen commented on #78
@pablucco hello there.I was digging into it and here are few thoughts:
- we need to dynamically evaluate what `mapping` for the given JSON. The best way is to use blocks.
- it is useful to add dynamic `keyPath` evaluation as well.

Most rough solution looks like adding block to the `FEMMapping` itself, that will evaluate given JSON and return `FEMRelationship` with correct values. I'm not quite su

[2016-12-22 08:38] #77 closed

[2017-02-25 15:12] heumn opened #79 "Relationship bindings by PK with optional relationship"
As per example in readme, sometimes I get this

[code]
and other times I get this from server

[code]

Having this mapping
[code]
will crash the app when category is `null`

I do not want to use weak mapping because I still want objects with only ID created in my DB.

Suggestions for how I could solve this?

[2017-02-25 18:58] dimazen commented on #79
@heumn Hey there! Well, there is a solution: you can inject your code into the mapping process. Lets say that you're marking your relationship as weak and therefore allow FEM to skip it. Later once "Website" has been mapped you're assigning new category in case there are no category at all.
For example:

[code]

In delegate you can hook as following:
[code]

[2017-02-26 09:25] heumn commented on #79
Got it, thanks a lot for the help :) 💯

[2017-02-26 09:25] #79 closed

[2017-02-27 10:04] dimazen commented on #79
@heumn You're welcome!

Forgot to add another one option:
You may map category id in the following manner: bypass any valid number and replace null by 0.
It will affect your logic because for every website without category FEM assign single fake category with id == 0. But it will also simplify mapping code a lot. It also removes requirement to set relationship to the weak one.

Hope that helps.

[2017-03-31 13:36] jcavar opened #80 "Ignored error from execute request leads to inserting duplicated objects"
Hi,
In FEMManagedObjectCache there is
`- (NSMutableDictionary *)fetchExistingObjectsForMapping:(FEMMapping *)mapping`
which executes fetch request.

We ran into issue when using this with NSSQLiteStoreType. The specific issue we have is when lookupValues is bigger then 999 which is max variable count for SQLite database.
See: https://github.com/mackyle/sqlite/blob/cec875a327f8d1924c60ccb20cc96d17c

[2017-03-31 13:38] jcavar commented on #80
In memory solution could look something like this:
[code]

[2017-03-31 13:38] jcavar commented on #80
Or maybe not even filtering objects and just adding everything to cache? This may cause memory issues but as long as objects are faults it should be fine?

[2017-03-31 13:42] jcavar opened #81 "Recursive relationship to same object"
Hi,
We have the following JSON structure:
[code]
We are using CoreData and we encountered problem when transforming this. Chat with identifier 1 is created twice. I think we identified why is this happening:

So the issue is in `FEMDeserializer.m`
 `- (id)_objectFromRepresentation:(NSDictionary *)representation mapping:(FEMMapping *)mapping allocateIfNeeded:(BOOL)allocate`.
If object is not in cac

[2017-03-31 13:43] jcavar commented on #81
So we would need to set primary key and cache before fill object which would look something like this:
[code]

[2017-03-31 13:45] dimazen commented on #81
Hello, @jcavar! Thanks for your issue! It looks like that FEM can handle this easily. Anyway primary key mapping has some specific rules and thus can be extracted from the object fulfilling method.

I'll fix it later today if it works for you :)

[2017-03-31 13:47] jcavar commented on #81
Well that was fast response 👍. Sure it works :)

[2017-03-31 13:49] dimazen commented on #80
Wow, thats a weird bug. I'd stick to the solution when we're splitting request into several requests in case there are more than 999 objects left. Than we can continue processing them as is it now.
I would handle it later today as well.

Thanks for reporting!

[2017-03-31 14:39] jcavar commented on #80
Nice, thank you :)

[2017-03-31 20:25] dimazen commented on #80
@jcavar Strange. I have implemented tests that should trigger error you've described but they pass.
Can you check out https://github.com/Yalantis/FastEasyMapping/tree/fix/GH-80 and run `FEMCacheSpec` spec? There is a code on line 160:
[code]

By changing that limit variable you can tweak that limit. As you will see - no error produced and all tests are running perfectly.

Going back to your issue:

[2017-03-31 23:06] jcavar commented on #80
Yes, you are actually right. This must be due to custom store we are using then. Sorry for bothering you, I should have checked with clean project first.

I will investigate more and see what is causing this issue for us.

Thanks for your help!

[2017-03-31 23:24] jcavar commented on #80
Ok, it seems that issue reproduces with much bigger number 500001. This was found here:
http://sqlite.1065341.n5.nabble.com/SQLITE-MAX-VARIABLE-NUMBER-td43457.html

It is compile time constant and in our use case it is set to much smaller number for some reason. I will investigate why is that, but it would still make sense to handle this situation in library.
What do you think?

[2017-04-01 03:50] dimazen commented on #80
I agree, that we need to handle that. The only thing I'm currently looking for is how and where to grab this value. Maybe persistent store will disclose it via options - gonna check it later.

[2017-04-01 05:26] dimazen commented on #80
On the other hand this limit appears to be a quite big value. I would suggest you to subdivide your data into chunks instead of processing them in a single pass. Why so? In the past I was analyzing and it turned out that saving by batches runs faster than single big batch.

Pseudocode:
[code]

See related question on [stackexchange](http://codereview.stackexchange.com/a/64912).

On the other hand

[2017-04-01 13:51] jcavar commented on #80
Yeah, I think FEM should definitely expose error if it happens and stop processing.

That is actually very good point, we should divide our data in reasonable chunks and increase variable count.
I dont know if that is something FEM could support or how hard would it be to add batch size. Especially considering that data can contain deep reationships and when adding those request could still fail.

[2017-04-02 19:45] dimazen opened #83 "Leak of recursive relationship"
FEMMapping with recursive relationship creates retain cycles.

[2017-04-02 20:52] #81 closed

[2017-04-02 20:53] dimazen commented on #81
I'll roll out update with fix later this morning (third of April)

[2017-04-03 08:24] dimazen commented on #60
Despite this is an old issue: description updated via new documentation.

[2017-04-03 08:25] #60 closed

[2017-04-03 08:39] dimazen commented on #81
@jcavar you can now use 1.1.2 version that contains this fix.
#80 posponed until 1.2 that I'm currently working on. It looks like that gonna split your data into chunks, therefore I've decided to combine errors handling with new major release.

ping me if you have more issues :)

[2017-04-03 08:43] jcavar commented on #81
Nice, thank you :)

[2017-04-03 10:52] jcavar opened #84 "EasyMapping vs FastEasyMapping"
Hi,
I have more of general question about these two libraries. We evaluated them both recently and they look quite similar, even bugs we encountered were the same in both of them.  API is quite similar, performance measurements as well.

I am wondering if there is something in EasyMapping that is not available in FastEasyMapping or other way around?
If not, would it make sense to merge them? That

[2017-04-03 10:52] jcavar commented on #84
I asked the same thing on EasyMapping:

https://github.com/lucasmedeirosleite/EasyMapping/issues/153

[2017-04-03 14:53] dimazen commented on #84
I posted my answer in the https://github.com/lucasmedeirosleite/EasyMapping/issues/153

[2017-04-03 15:01] jcavar opened #85 "Remove or update performance graph"
As mentioned [here](https://github.com/lucasmedeirosleite/EasyMapping/issues/153) performance comparison of EasyMapping and FastEasyMapping is not correct anymore.

[2017-04-03 17:41] #84 closed

[2017-04-07 10:09] dimazen commented on #56
Closed by #88

[2017-04-07 10:09] #56 closed

[2017-05-04 12:51] dimazen commented on #83
Fixed by #91

[2017-05-04 12:51] #83 closed

[2017-05-09 18:56] dimazen commented on #80
Add temporary fix by https://github.com/Yalantis/FastEasyMapping/pull/92/commits/28b3ec324bc4ccd23eba4b34131aa3f216334635

To be honest this is a weird solution, however it turns out that for a proper error handling I need to rework a lot of existing API (also Swift brings additional challenges). Therefore I'm keeping this PR opened.

[2017-05-10 12:50] dimazen commented on #85
I left a comment above the performance graph:

I'll update it with 1.3 that includes additional performance improvement

[2017-05-10 12:50] #85 closed

[2017-05-10 21:06] dimazen commented on #49
I believe this is not relevant anymore but just for convenience: Realm support finally here:
https://github.com/Yalantis/FastEasyMappingRealm

[2017-05-10 21:06] #49 closed

[2017-05-10 21:06] #8 closed

[2017-05-18 10:22] stasivanov opened #95 "Map representation part for property"
I have JSON, that has
`someObjectIDs : [1, 2, 3]`

Instead of storing this as Array of numbers, I want to wrap this to some class. Like I want to map `[1, 2, 3]` to `[{ "id" : 1 }, { "id" : 2 }, { "id" : 3 }]`, and proceed mapping of objects with the new version of representation. Map closure of the FEMAttribute does a little bit different thing, since it asks for the actual result of parsing. And

[2017-05-18 10:31] dimazen commented on #95
Hello, @stasivanov
Not very clear to me what you're trying to do.
Are those objects NSManagedObject subclasses? If so - you still can map array of ids to those objects by specifying an empty keyPath.

[code]

[2017-05-18 10:35] stasivanov commented on #95
Wow, I didn't know that trick :) Thank you very much!

[2017-05-18 10:35] #95 closed

[2017-05-19 13:27] jcavar opened #96 "Using FEMMapping as NSMapTable key leads to duplicated objects"
Hi,
It new version, FEM uses `FEMMapping` instead entity name as before as `NSMapTable` key. When using recursive relationships and therefore different `FEMMapping` in child object and when processing child, it tries to get object from cache but since child mapping is different it can't get it and inserts new object.

Simple solution is I think just to use `mapping.entityName` as key.

[2017-05-19 13:47] dimazen commented on #96
Can you share code of the mapping that you're using as well as some sample JSON, please?

[2017-05-19 13:54] dimazen commented on #96
Side note about why I rewrote code to use `FEMMapping` as a key instead of `entityName` and why we can't go back: initially I was planning to use the same prefetch code for the Realm extension. However later it turned out that no prefetch required for the Realm. So why I didn't move the code back? In the next version I'm planning to deprecate `entityName`, and to leave simply `objectClass` for all

[2017-05-19 13:56] jcavar commented on #96
Here is simplified version:

Chat:

[code]
Message:

[code]

JSON:

[code]

[2017-05-19 13:57] jcavar commented on #96
Sure, `objectClass` should be fine as well.

[2017-05-19 14:00] jcavar commented on #96
And also, I know that we can't do much about it now, but I think it would be much nicer if there was bug fixes release before Realm support. We wanted to get temporary fix for https://github.com/Yalantis/FastEasyMapping/issues/80 but had to include whole Realm support as well, which in the end it seems broke some of functionality.

[2017-05-19 14:03] dimazen commented on #96
Agree, that to rollout a bugfix release would be a better option. Anyway it is a little bit late.

[2017-05-19 15:42] dimazen commented on #96
I'll try to release a hotfix within 1.5 hours

[2017-05-19 15:50] dimazen commented on #96
Observation: @jcavar do you have an inverse relationship? It looks like that you're trying to map `chat` to the `message` that is already included into the `chat` property.

[2017-05-20 07:19] dimazen commented on #96
@jcavar this issue has been fixed in the 1.2.1 release.
Available in both Carthage and Pods (don't forget to update your repo)!

[2017-05-20 07:19] #96 closed

[2017-05-20 07:56] jcavar commented on #96
@dimazen thank you, that was fast 👍

Yes, we have inverse relationship from message to chat.

[2017-05-20 10:52] dimazen commented on #96
@jcavar what I meant by my observation is that you probably don't need nested Chat mapping, since Message already included into the Chat and by using inverse relationship CoreData will be able to set a correct chat value on the message object.

In any case thanks for your report!

[2017-05-20 11:00] jcavar commented on #96
Yes, that is good point, but we have explicitly disabled inverse relationship in CoreData editor for some reason.

[2017-05-20 11:02] dimazen commented on #96
Got it. Good luck with your project 👍

[2017-06-21 20:58] stasivanov opened #98 "Handling null in Serializer"
**Serializer.m** has `if (returnedValue)` at 49th line.

The problem is that because of this all null values are not included in the output Dictionary, and that's why it cannot be used to fill another object correctly with Deserializer.

Also, sometimes I really need to serialize json to contain all keys even if they are null or empty.

I hope this is very clear, but anyway - for example, I have c

[2017-06-22 08:43] dimazen commented on #98
Hello, @stasivanov! Thanks for your report!
I got your issue: null values don't get added into the resulting JSON. Let me take a closer look on it on today's evening. Also you can make a pull request :)

[2017-06-22 09:02] stasivanov commented on #98
@dimazen, I'm not sure I won't break anything else :)

In addition, it would be great to leave the current logic, but add the logic to include null values to the resulting JSON as an optional way. Cause, sometimes it is really great to have it with current logic, but sometimes no.

Thanks!

[2017-06-24 17:34] dimazen commented on #98
Update will be rolled out tomorrow :)

[2017-06-25 21:06] dimazen commented on #98
@stasivanov you can check out [1.2.2](https://github.com/Yalantis/FastEasyMapping/releases/tag/1.2.2) tag!

Available via Carthage as well as via CocoaPods!

[2017-06-25 21:06] #98 closed

[2017-06-29 09:00] buidinhduong opened #99 "Easily Crash when JSON response wrong format of null !"
Easily Crash  when JSON response wrong format or  null field !

Please check & improve this .
Also, Lib should provide a way to handle  error manually or document how to handle response error ?

Thank you

[2017-06-29 11:02] dimazen commented on #99
Hello, @buidinhduong! Thanks for your report!

Can you provide please sample JSON and a mapping?

[2017-07-01 21:40] stasivanov opened #100 "Primary key from parent object"
Hello again. Unfortunately I need to kinda accept the JSON object's structure that I get from API without ability to change it. And it looks like this:

[code]

So, as you understand the problem is that I have child object doesn't have a unique field, and furthermore, the child of the child also doesn't have it.

I probably know the answer, but anyway I want to ask.

As a result, I would want to s

[2017-07-03 10:58] dimazen commented on #100
Hello, @stasivanov!
I would suggest to leave backend's ID untouched and to disable uniquing for those child objects.
Is this something you can proceed with?

[2017-07-03 10:59] #100 closed

[2017-07-04 10:00] buidinhduong commented on #99
-[__NSCFNumber length]: unrecognized selector sent to instance 0xb000000000000013
Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[__NSCFNumber length]: unrecognized selector sent to instance

[2017-07-04 10:02] buidinhduong commented on #99
this crash may occur if server response wrong format type. example :
if  my class have  **age: Int** but respone respone ["age":""]

[2017-07-10 09:09] dimazen commented on #99
Sorry for not getting back for such a long time.

Errors handling is in the plans. However incorrect types can not be handled or converted automatically. FEM assumes that your types are consistent. Looks like that the backend returns types incorrectly which is not subject for this library. But for sure we need to return a correct error.

[2017-08-09 10:25] vishaldeshai opened #101 "Parsing Array"
Hello,

i am parsing following:
reason: 'Unacceptable type of value for ordered to-many relationship: property = "visitStatusList"; desired type = NSOrderedSet; given type = __NSArrayM; value = (
    "<VisitStatus: 0x7c64fec0> (entity: VisitStatus; id: 0x7c64ff20 <x-coredata:///VisitStatus/tB60DAD31-2D22-4158-B2B3-4D27C5F75A763> ; data: {\n    conclusion = \"\";\n    createdBy = 18;\n    createdBy

[2017-08-09 10:27] dimazen commented on #101
Hello, @vishaldeshai.
Can you please show declaration of the class that holds `visitStatusList` relationship? Looks like an internal error during translation from the parsed Array to the Ordered Set that is expected by the CD model.

[2017-08-09 10:28] vishaldeshai commented on #101
Below are my stucture:

FEMMapping *mapping = [[FEMMapping alloc]initWithEntityName:[PlannVisit entityName]];
    [mapping addAttribute:[PlannVisit intAttributeFor:@"iD" andKeyPath:@"ID"]];
    [mapping addAttribute:[PlannVisit intAttributeFor:@"seriesPostfix" andKeyPath:@"SeriesPostfix"]];
    [mapping addAttribute:[PlannVisit intAttributeFor:@"customerID" andKeyPath:@"CustomerID"]];
    [mapping

[2017-08-09 10:31] vishaldeshai commented on #101
// VisitStatusList Mapping

+(FEMMapping *)defaultMapping{
    FEMMapping *mapping = [[FEMMapping alloc]initWithEntityName:[VisitStatus entityName]];
    [mapping addAttribute:[VisitStatus intAttributeFor:@"iD" andKeyPath:@"ID"]];
    [mapping addAttribute:[VisitStatus intAttributeFor:@"visitID" andKeyPath:@"VisitID"]];
    [mapping addAttribute:[VisitStatus intAttributeFor:@"interactionTypeID" an

[2017-08-09 10:31] dimazen commented on #101
Can you also share part of the JSON (only the one that shows `PlannVisit` and a `VisitStatus`) as well as how do you declare that relationship on the CoreData object?
i.e.
[code]

[2017-08-09 10:33] vishaldeshai commented on #101
{
            "ID": 1430,
            "SeriesPrefix": "",
            "SeriesPostfix": 222,
            "CustomerID": 414,
            "TempCustomerID": 0,
            "CustomerName": "Arc Pvt Ltd",
            "ContactID": 0,
            "ContactName": "",
            "ContactMobileNo": "",
            "OriginalNextActionID": 2,
            "OriginalNextActionTime": "Jul 26, 2017 6:07:00 AM",

[2017-08-09 10:35] dimazen commented on #101
Thanks a lot! I'll take a look at it today in the evening. Fix should be rolled out soon (either today's evening or tomorrow)

[2017-08-09 10:36] vishaldeshai commented on #101
![screen shot 2017-08-09 at 4 04 32 pm](https://user-images.githubusercontent.com/6972034/29117645-a5289844-7d1c-11e7-9d70-e848addfe1d4.png)
![screen shot 2017-08-09 at 4 04 47 pm](https://user-images.githubusercontent.com/6972034/29117646-a529667a-7d1c-11e7-954e-742f57eaac6b.png)

Please also look at my relationship defined with entity.

[2017-08-09 12:10] vishaldeshai commented on #101
Sorry i have issue with relationship defined

[2017-08-09 12:10] #101 closed

[2017-08-11 06:04] vishaldeshai opened #102 "Single key with distinct Value"
Hello,

IS possible to fetch only one column with distinct value??

thanks in advance.

[2017-08-12 12:27] dimazen commented on #102
Hello. Can you describe your intent with more details? Maybe by a use-case ;)

[2017-08-17 11:13] vishaldeshai opened #103 "Complex Heirarchy"
Hello Sir,

i have 2 json dictionary like U and V.

and inside U and V dictionary, i have array of Dictionaries then how can i manage this behaviour??

suppose i can create attribute "type" with array of dictionaries then how can i access type??

thanks in advance.

[2017-08-18 10:20] dimazen commented on #103
Hello, @vishaldeshai
Can you share json sample and a desired output?

[2017-08-31 08:34] vishaldeshai opened #104 "Mapping but not store"
Hello,

I have Core Date entity and store array of data but now i want to create array of data with the use of FastEasyMapping but dont want to store inside DB.

Thanks in advance.

[2017-09-01 10:43] dimazen commented on #104
Hello, @vishaldeshai
Sorry for a delay.

FEM currently supports only mapping to either NSManagedObject or to the NSObject. Therefore it looks like that you're looking for a NSObject mapping.
In this case create your mapping by `[[FEMMapping alloc] initWithObjectClass:[MyNSObject class]]`

[2017-09-01 10:45] vishaldeshai commented on #104
Suppose i have array of dictionary then??

[2017-09-01 10:46] dimazen commented on #104
@vishaldeshai are you trying to map an array of dictionaries to the NSManagedObject's property?

[2017-09-01 10:47] vishaldeshai commented on #104
I have array of dictionary and i got that from web service but i dont want to store that on Core data but only need to mapp is it possible???

[2017-09-01 10:48] dimazen commented on #104
Sure. You may want to map them to the plain nsobject's that you have.

[2017-09-01 10:50] vishaldeshai commented on #104
NSObject is super class for either nsaray or nsdictionary.

so we need to iterate everydictionary and map to FEMMaping right??

[2017-09-01 10:51] dimazen commented on #104
Nope, you just need to map that exactly as you would do this for the CoreData except a different initializer for the Mapping.

Can you share sample json and a desired output?

[2017-09-01 10:54] vishaldeshai commented on #104
I have two types of Visit Like Plan and Unplan.

i am storing and mapping Plan Visit after Login but i dont have to store unplan Visit for my application. Json for Plan and plan visits are same.

So what is the desirable solution??

[2017-09-01 10:56] dimazen commented on #104
You can either provide an NSObject duplicate for the Visit or to store them in the in-memory / nested managed object context that should not be saved to the database.

[2017-09-01 10:58] vishaldeshai commented on #104
Can you elaborate more??

Json are same means format are same but values are different. :)

[2017-09-01 11:13] dimazen commented on #104
I can't get what you mean. If the format is the same, than you should be able to map them to the same entity Visit. What I'm proposing is remove saving of the context after mapping. in this case you can get all of the results in memory. Another way is to provide NSObject's subclass with the same properties that you have for the Visit and map json to it.

[2017-09-01 11:18] vishaldeshai commented on #104
I have already created Coredata ManagedObject Subclass.

[2017-09-02 12:23] vishaldeshai opened #105 "Save At Position"
Hello,

Can we save Object  at first location.

I would like store/insert object at first position is it possible??

thanks in advance.

[2017-09-02 12:26] dimazen commented on #104
I've made a request and can not understand what is your issue. Do you want to prevent to store response in the database?

[2017-09-02 12:26] dimazen commented on #105
Hello. What do you mean by "first position"? Sorting?

[2017-09-02 12:26] vishaldeshai commented on #104
Yes

[2017-09-02 12:27] dimazen commented on #104
FEM doesn't sort response. However, you can use Ordered relationship - in this way CoreData will preserve order of the response.

[2017-09-02 12:29] vishaldeshai commented on #105
First we are getting array and that array sorted and i have stored inside coredata.

but after that i am inserting new recored inside coredata. after that that record i am getting in last position but i would like to get that record at first position..

[2017-09-02 12:29] dimazen commented on #104
As I already said you should either save objects into the nested context without saving or to provide class with duplicated set of the properties, that you have on the CoreData's model. In this way you'll get an array of NSObject's subclasses.

[2017-09-02 12:30] dimazen commented on #105
Are you inserting objects as a part of mapping or manually?

[2017-09-02 12:31] vishaldeshai commented on #105
mapping like

[MagicalRecord saveWithBlock:^(NSManagedObjectContext * _Nonnull localContext) {
                    arr = [FEMDeserializer collectionFromRepresentation:[dict objectForKey:@"data"] mapping:[_LeadStatusList defaultMapping] context:localContext];
                } completion:^(BOOL contextDidSave, NSError * _Nullable error) {
                    [self.view makeToast:dict[@"message"]];

[2017-09-02 12:31] vishaldeshai commented on #104
nested context means how??

[2017-09-02 12:47] dimazen commented on #104
You can read it here:
https://www.cocoanetics.com/2012/07/multi-context-coredata/

In short nested context will still be used in the same way as using plain managed object context but not saving it.

One sec:

[code]

With the code above FEM will map, but won't save result to the database. i.e. `[context save:&error];` won't get called.

[2017-09-02 12:52] vishaldeshai commented on #104
where to use mapping object in your code??

[2017-09-02 12:55] dimazen commented on #104
@vishaldeshai I've updated my comment, please check it out.

[2017-09-02 12:57] dimazen commented on #105
Are you talking about root object order or it is a relationship?

[2017-09-02 13:13] vishaldeshai commented on #105
Order

[2017-09-02 13:35] vishaldeshai opened #106 "Data Fault"
Hello,

Why my data fault??
`[MagicalRecord saveWithBlock:^(NSManagedObjectContext * _Nonnull localContext) {
                    arr = [FEMDeserializer collectionFromRepresentation:[dict objectForKey:@"data"] mapping:[_LeadStatusList defaultMapping] context:localContext];
                } completion:^(BOOL contextDidSave, NSError * _Nullable error) {
                    NSLog(@"%@",arr[0]);

[2017-09-02 13:39] dimazen commented on #105
I meant is it an order of the root object or an order of the relationship's object

[2017-09-02 13:40] vishaldeshai commented on #105
relationship object.

[2017-09-02 13:41] dimazen commented on #106
Please, read about how nested contexts work. Also you might be interested in reading of the source code of the Magical Record in order to understand how does local saving works. It has nothing to do with the FastEaysMapping itself. Issue lies in your attempt to talk to the objects of the dead context.

[2017-09-02 13:46] dimazen commented on #105
In this case you should create your own assignment policy that will manage order in a way that you need. See [Assignment Policy](https://github.com/Yalantis/FastEasyMapping#assignment-policy) description. Also take a look at the implementation of the [FEMAssignmentPolicyCollectionReplace](https://github.com/Yalantis/FastEasyMapping/blob/master/FastEasyMapping/Source/Assignment%20Policy/FEMAssignme

[2017-09-02 13:53] vishaldeshai commented on #106
But can you tell me how i can prevent context dead??

[2017-09-02 13:54] vishaldeshai commented on #105
Can you explain me how assignment policy works with replacing particular object???

[2017-09-04 07:04] vishaldeshai opened #107 "Relation Object added but root object store temporary not permnent"
Hello,

My relationship object added subject but my root object not added permanent.

is their any solution??

thanks in advance.

[2017-09-04 07:31] vishaldeshai commented on #107
Issue Resolved.. Using following code

`                        [self.objLead.managedObjectContext MR_saveToPersistentStoreWithCompletion:^(BOOL contextDidSave, NSError * _Nullable error) {
                            NSLog(@"%@",error);
                        }];
`

[2017-09-04 07:31] #107 closed

[2017-09-05 08:05] dimazen commented on #105
Sorry, I was busy.
Sure, here is an explanation:

Lets say that we're mapping a response for an object `Object` that has a relationship `children` with values `A`, `B`, `C`. Response contains same Object but with the relationship values `C`, `D`. Resulting relationship should looks like `C`, `D`, while `A` and `B` should b removed.
Type of the collection that holds both relationships depends on th

[2017-09-05 08:10] dimazen commented on #106
@vishaldeshai MagicalRecord destroys `localContext` once it is done with the saving. Therefore you need to refetch your objects in the different context (referencing objectID is ok and won't cause fault), or to invoke saving of the context directly and not using a MR's API.
[code]

[2017-09-05 13:47] dimazen commented on #102
Closing since there is no activity here.
Feel free to reopen if needed.

[2017-09-05 13:47] #102 closed

[2017-09-05 13:47] #64 closed

[2017-09-14 12:03] vishaldeshai opened #108 "Load Data Takes Time"
Hello,

i have Root object and relation object but when i am fetching list of root object data it takes time.

thanks in advance.

[2017-09-18 12:02] vishaldeshai opened #109 "Remove Root Object"
Hello,

Can you tell me how to remove root object using FastEasyMapping?

thanks in advance.

[2017-10-27 09:56] vishaldeshai commented on #104
saveContextOnCommit saves the object in coredata
how to prevent that?

[2017-10-27 09:58] dimazen commented on #104
@vishaldeshai hello.
You have to configure an underlying `FEMManagedObjectStore` by instantiating it manually and setting [saveContextOnCommit](https://github.com/Yalantis/FastEasyMapping/blob/master/FastEasyMapping/Source/Store/FEMManagedObjectStore.h#L18) to `NO`.

[2017-10-27 09:59] vishaldeshai commented on #104
Hello,
FEMMapping *mapping = [_PlannVisit defaultMapping];// your mapping here
                            FEMManagedObjectStore *store = [[FEMManagedObjectStore alloc] initWithContext:[_PlannVisit getContext]];
                            store.saveContextOnCommit = NO;
                            FEMDeserializer *deserializer = [[FEMDeserializer alloc] initWithStore:store];

[2017-10-27 10:01] dimazen commented on #104
How are you fetching those objects? Most likely that they're temporary. Try to close your app right after `[deserializer collectionFromRepresentation:ary mapping:mapping];` to see that your objects was in memory.

[2017-10-27 10:03] vishaldeshai commented on #104
that objects are feting from server.

[2017-10-27 10:05] dimazen commented on #104
I meant how did you figure out that objects are in the database?

[2017-10-27 10:07] vishaldeshai commented on #104
For me, there is two scenario like i am store some objects in db and some objects are not mapping but not store.

once i ma fetching stored object then also got mapped object(i.e i mensioned above)

[2017-10-27 10:47] dimazen commented on #104
@vishaldeshai can you show the output of the debugger command:
[code]

Please, run it on a clean install.

[2017-11-04 05:06] vishaldeshai opened #111 "Mappi One object at a time"
Hello,

Can we map single object at a time.

for array we can use following method :
- (NSArray *)collectionFromRepresentation:(NSArray *)representation mapping:(FEMMapping *)mapping

thanks in advance.

[2017-11-04 05:09] #108 closed

[2017-11-04 05:09] #109 closed

[2018-05-25 11:31] asam139 opened #112 "Crash using relationship binding by PK"
The library crashes when the object which is being binding using a PK has a relationship called equal to other property that the parent object. Example:

Example of Project JSON
{
   "name": "Test",
   "id": 19,
   "membership": {
         ...
     },
   "user_group_id": 5
}

Example of UserGroup JSON
{
   "name": "Test",
   "id": 5
   "membership": {
         ...
     },
   "user_group_id": 5
}

[2018-05-25 13:40] dimazen commented on #112
Hello, @asam139. Thanks for your report. Can you share you `FEMMapping` description?

[2018-05-28 11:58] asam139 commented on #112
Of course:

For class project:

+ (FEMMapping *)defaultMapping {
    static FEMMapping *mapping = nil;
    if (!mapping) {
        mapping = [[FEMMapping alloc] initWithEntityName:NSStringFromClass(self.class)];
        mapping.primaryKey = @"id_";
        [mapping addAttributesFromDictionary:@{@"id_": @"idd",
                                               @"name": @"name",

[2018-05-28 14:14] dimazen commented on #112
Perfect. Let me make a test to see why does it crashes.

Also, from your code you don't have to cache mapping as it shouldn't be a bottleneck during `defaultMapping`, but of course is up to you :)

Thanks also for your comments, let me just run your code on my own to see what is going on :)
I'll get back shortly.

[2018-05-28 14:49] dimazen commented on #112
@asam139 I'm trying to reproduce your crash. Question: does `memberships` are of the same classes? Can you give me corresponding part of the JSON and a mapping for it as well?

[2018-05-28 15:00] dimazen commented on #112
For now: it would be nice to have a full set of classes with fields like `id` and related relationships (`membership`, `userGroup`) as well as the JSON with the same fields (so that you can throw away sensitive data from this json).

[2018-05-29 14:01] asam139 commented on #112
Your are right, the easy way is to change keys in the json to be not equal, the problem is that I cannot modify the server because other platforms use the same API.

I have attach two JSON adding comments (inside) to  explain the relationships between classes.

1º JSON to download an "User Group"

[code]

2º JSON to download an project with identifier for "User Group" and "User Project Membership"

[2018-05-30 13:51] dimazen commented on #112
@asam139 ok, now your issues looks a lot clearer. Issue lies in a mapping that actually combines simple PK binding and actual mapping. There are few things to consider:
- it is ok to create many mappings
- it is ok to create mapping at every call.

What actually goes wrong in your case is that by specifying
[code]
you actually pass a mapping for a _full_ object which is obviously not the case.
Now

[2018-05-30 13:54] dimazen commented on #112
Just to add: during PK binding you can actually specify only a primary key (and any required fields), you don't have to pass a full description of the object.

[2018-05-31 07:59] asam139 commented on #112
Thanks so much. It works perfectly, I did not know that it is not necessary to specify the full description. I apologize for the inconvenience.

[2018-05-31 08:00] #112 closed

[2018-06-01 14:58] Rico9260 opened #113 "Never ending recursion"
Suppose if there is a Parent which has `children` array inside it and those children also has a children array in It... and so on. This will end when a child doesn't have any more children.

I create a mapping Function for creating a representation and In core DB I have a to many relationship from children to children.

That method that creates a representation i.e. FEMapping for mapping that data

[2018-06-01 16:09] dimazen commented on #113
Hello, @Rico9260
Recursive behaviour comes out of the recursive call to a `parentMapper`. What you might actually want to is:
[code]

[2018-08-02 22:41] mitchclevertronics opened #114 "What is this? When I install the pod"
ld: warning: directory not found for option '-F/Users/k.mitchell/Library/Developer/Xcode/DerivedData/CleverSparky-bxttahekuqjgorbnqkajiiebkcss/Build/Products/Release-iphoneos/FastEasyMapping'
ld: framework not found FastEasyMapping

[2018-08-04 12:40] dimazen commented on #114
Hello, @mitchclevertronics. I'll take a look tomorrow.
I would appreciate if you can provide me a sample app.

[2018-08-16 13:20] jcavar opened #115 "Primary key not required"
Hello!

I understand data validation is more of general concern and maybe out of scope for this librarty. There were also few questions asked before, however I am interested specifically about `primaryKey` attribute.

If you specify it for your mapping, does it make sense to create object when not in representation? At the moment framework just checks and if not in, it ignores it, but it sounds to

[2018-08-17 06:50] jcavar commented on #115
If we get invalid data without identifier, FEM inserts object without identifier.

What I meant by that is this part of code:

https://github.com/Yalantis/FastEasyMapping/blob/master/FastEasyMapping/Source/Deserializer/FEMDeserializer.m#L120-L122

My feeling is that there should be else case where you return nil.

[2018-08-17 09:43] dimazen commented on #115
@jcavar oh, I got it. Can you check out branch [required-pk](https://github.com/Yalantis/FastEasyMapping/tree/feature/required-pk)? Will it help if you gonna use this version? If so, I'll roll out a release

[2018-08-17 11:59] jcavar commented on #115
That looks like it, yes!

[2018-08-29 14:54] surkis opened #116 "is FastEasyMapping ready for swift4?"
I have iOS project with swift 3.x, and trying to migrate it to latest swift 4.x
I have setuped FastEasyMapping via Cocoapods like this:
`pod 'FastEasyMapping', :git => 'https://github.com/Yalantis/FastEasyMapping.git', :branch => 'required-pk'`

But I have next crash issue when try to serialize/deserialize objects:
`Terminating app due to uncaught exception 'NSUnknownKeyException', reason: '[<fast

[2018-08-29 15:08] surkis commented on #116
Attached archive of test project, so you can test problem yourself:
[fasteasymappingtest.zip](https://github.com/Yalantis/FastEasyMapping/files/2332671/fasteasymappingtest.zip)

When I changed to swift 3.3, in target Build settings, all working as expected.
If I using to swift 4.1, I have this issue.

[2018-08-29 15:25] dimazen commented on #116
@surkis thank you so much for provided feedback. I would assume, that this is because in Swift 4 behaviour of swift-objc interoperability has been changed. Therefore subclassing from `NSObject`doesn't reveal class members / methods to ObjC automatically. You have to add attributes `@objc dynamic` for each property you'd like to use with KVC. FEM uses KVC internally and therefore since those proper

[2018-08-29 15:38] surkis commented on #116
@dimazen thank you for such fast feedback.
Yes, after I have added `@objc dynamic` to each attributes in class, it's start working as expected in test project.
I have attached working version here, just for reference who will have same issue:
[fasteasymappingtestswift4.zip](https://github.com/Yalantis/FastEasyMapping/files/2332774/fasteasymappingtestswift4.zip)

Thank you for your help. I will con

[2018-10-24 06:58] rahulsoni25 commented on #104
@vishaldeshai
If you want to create array of core data objects without storing in db and want to use in app then try to create core data entity with [NSManagedObjectContext MR_defaultContext]
i think it will help you

[2018-10-24 07:07] rahulsoni25 commented on #111
@vishaldeshai
for mapping single object you use below method
[FEMDeserializer objectFromRepresentation:json mapping:mapping context:managedObjectContext];

[2018-11-21 14:18] vishaldeshai opened #117 "IN Operator with no sorting"
I have menu entity and i want to fetch menus list as per the MenuID listing.

i am passing manu ids using 'IN' operator but it is automatically sorting but i need to prevent sorting.(simply needs menus list without sorting i.e list as per giving menu id list with 'IN' operator')

thanks in advance.

[2019-11-08 12:56] jcavar opened #119 "Synchronise local and server id"
I have the following (simplified) model:

[code]

When sending message, client creates `Message` object and generates `clientId`. When our server receives this request, it generates actual `Message` `id`. Both are returned by server to client.

If we use `id` as `primaryKey` in mapping, we will end up with duplicated message.
We can't use `clientId` as `primaryKey`, because messages that are not g

[2019-11-09 10:26] dimazen commented on #119
Hello, @jcavar!
How about managing two mappings (based on a single, probably, base mapping):
- mapping A for sending and receiving a client-generated message. It will use `clientId` as a primary key which will prevent duplication
- mapping B: A that will use the same properties as A expect that for the primary key you'll be using an `id`. This will handle duplication resolution for the rest.
Of co

[2019-11-11 12:17] jcavar commented on #119
Hmm, that an is interesting idea! I think we could have partial success with that.

In some places, it is simple to understand which mapping we need, in others - where we get all of the messages - it might be more complicated, but still possible.

[2019-11-13 10:05] dimazen commented on #119
Keep me updated. I think we can come up with some solution :)

[2019-12-02 10:43] jcavar commented on #119
Just an update on this. I haven't been able to get it working properly by using different mapping.
In a simple case when we are processing only `Message` entity, it works well. However, when we are processing entity that has `Message` as relationship, there is no way to know which mapping to use. An option might be to inspect response and see if it contains `clientId` but this is quite ugly as we

[2019-12-04 21:02] jcavar commented on #119
I think I managed to get this working by using `willMapObjectFromRepresentation` delegate method. In that method:
1. Check if representation contains `clientId`
2. Get normal `id` from representation
3. Check if there is an object with same `clientId` in database
4. If yes, update its `id`, and add to deserialiser store.

This has performance penalty, but in our use case, it should be fine.
Now, f

[2019-12-07 16:40] dimazen commented on #119
Went through your issue one more time. Can you a bit clarify what do you mean by a dynamic primary key? I can't fully understand your case when Message is a relationship.

Lets say we have some parent entity (lets name it a `ChatRoom` for now). Looks like that you're receiving a sort of a response regarding messages in this chat room, right? And issue is that backend doesn't provide your local ids

[2019-12-07 16:42] dimazen commented on #119
@jcavar also, why you can not use `clientId` in this case since you're using it as a primary key anyway. Or am i wrong?

[2019-12-07 18:44] jcavar commented on #119
Backend does provide locally generated id but the problems is following:
Let's say that we have 2 API calls:

1. `api/messages`
Response of this one is in this format: `[{id: 1}, {id: 2, clientId: xy}]`
2. `api/chats`
Response of this is in this format: `[{id: 13, lastMessage: {id: 2, clientId: xy}}, {id: 14, lastMessage: {id: 1}}]`

Now, in first case, it is easy to split array into messages that

[2019-12-07 19:26] dimazen commented on #119
@jcavar ok, dummy question: why we can not use "id" as a primary key? Because this `id` can be the same but `clientId` will be different?

[2019-12-07 19:41] jcavar commented on #119
We can't use `id` as primary key in this scenario:
1. Create message locally (id = nil, clientId = something generated on client)
2. Send message but not receive response (e.g lose internet connection)
3. Call `api/messages`

In step 3 if we use id as primary key we would end up with duplicated message.

[2019-12-07 19:56] dimazen commented on #119
@jcavar and `cliendId` is not a unique value per message but rather represents a client's device id (or some similar concept), correct?

[2019-12-07 19:58] jcavar commented on #119
It is unique id.

[2019-12-09 20:44] dimazen commented on #119
@jcavar ok, here is what i end up with:
1) we need to set `id` as a primary key, since it is always presented in the backend response, therefore we don't need to handle it somehow additionally.
2) we should also subclass `FEMManagedObjectStore` and do a following trick:
- in the `OurObjectStore` do a following trick:
[code]

[2019-12-09 21:23] jcavar commented on #119
Quite interesting! I will try it out and come back.
Thank you!

[2019-12-09 21:28] dimazen commented on #119
It also might be useful to add one more method that I forgot to put initially:
[code]

This gonna store your new object properly in case there is a `cliendId`. It prevents duplicates creations due to two separate objects caches.

Also, put a `self.messagesMapping = nil` in `commitTransaction` to finish cleanup.

[2019-12-11 12:36] jcavar commented on #119
I don't see methods that you implemented available on `FEMManagedObjectStore`. (e.g. `prepareTransactionForMapping`) Are you suggesting to update library to support those methods?

[2019-12-11 13:13] dimazen commented on #119
@jcavar can you make sure that you have:
[code]
All of the aforementioned methods are presented in the framework already :)

[2019-12-11 13:25] jcavar commented on #119
I think I have that, could you link to them here? I can't find them even when searching repo.

[2019-12-11 13:33] dimazen commented on #119
@jcavar weird. They should be in the [public header](https://github.com/Yalantis/FastEasyMapping/blob/0b0e007667ab53fb9fc328da6b653cb01f2e0d1b/FastEasyMapping/FastEasyMapping.h#L15):
- https://github.com/Yalantis/FastEasyMapping/blob/master/FastEasyMapping/Source/Cache/FEMObjectCache.h
- https://github.com/Yalantis/FastEasyMapping/blob/master/FastEasyMapping/Source/Store/FEMObjectStore.h
- https:/

[2019-12-11 13:47] jcavar commented on #119
I still don't see `- (void)prepareTransactionForMapping:(nonnull FEMMapping *)mapping ofRepresentation:(nonnull NSArray *)representation`

Did you maybe mean:
https://github.com/Yalantis/FastEasyMapping/blob/master/FastEasyMapping/Source/Store/FEMObjectStore.h#L28?

[2019-12-11 13:49] jcavar commented on #119
I don't see `- (id)registeredObjectForRepresentation:(id)representation mapping:(FEMMapping *)mapping` either.

Did you maybe mean:
https://github.com/Yalantis/FastEasyMapping/blob/master/FastEasyMapping/Source/Store/FEMObjectStore.h#L107?

[2019-12-11 14:43] dimazen commented on #119
@jcavar i’m so sorry. Turns out I was looking at the outdated branch locally, so that’s the source of the confusion. You’re totally correct with your assumptions. I’ll post correct code tomorrow in the morning - have no access to my laptop at the moment

[2019-12-12 10:23] dimazen commented on #119
@jcavar I'm looking into a solution, since latest API because of the changes doesn't provide representation to the ObjectStore anymore and parses primary keys on it's own instead which is a bit sad, since we can not inject our code anymore. Will get back with a solution in an 1-2 hours

[2019-12-16 10:57] dimazen commented on #119
@jcavar sorry for a delay. Can you check out my fork [here](https://github.com/dimazen/FastEasyMapping)? You can grab latest master and checkout `FallbackObjectStore`.

Reason why I didn't make those changes in the main repo is because of the compatibility reasons: initially, I moved all of the JSON-related stuff to the deserialiser out of the stores to enable better extensibility and less code re

[2019-12-16 18:04] jcavar commented on #119
Yes, I understand. We would like to be on official version of the library to be able to update to new versions easily. I understand our use case is little special, so I think we will keep our implementation as it required less library changes and it seems that it works well.

Thank you for your time and support!

[2019-12-16 18:04] #119 closed

[2020-01-08 12:11] jcavar opened #122 "Swift Package Manager Support"
Hello,
There are some changes in our project that will require FEM to be integrated using SPM. I managed to get this working in my fork but wanted to discuss solution before creating PR.

SPM has `publicHeadersPath` option where you can specify location of your headers. Unfortunately, it seems that it doesn't support wildcards and supports only one location.
As FEM's headers are distributed in dif

[2020-01-08 15:23] dimazen commented on #122
Hello, @jcavar! I would stick to moving everything into a single Source directory and leave just groups if that's the case.

[2020-02-10 04:57] krishnasolankiBigbang opened #123 "getting error in mapping"
Hello
I am using swift verison pod 'FastEasyMapping', '~> 1.2'.
I am getting error desired type = NSOrderedSet; given type = __NSArrayM
Getting exception in line mapping.addToManyRelationshipMapping(ABC.defaultmapping(), forProperty: "cde", keyPath: "CDE")
property of cde is in  ABC is
@NSManaged var cde : NSOrderedSet!

[2020-02-19 12:23] dimazen commented on #123
@krishnasolankiBigbang good day!
Sorry for a long delay.
Can you share your mapping, please?

[2020-04-19 06:55] krishnasolankiBigbang commented on #123
Hello @dimazen  Its hase been Solved issue was my side it was silly mistake . I set mapping.addToManyRelationshipMapping(ABC.defaultmapping(), forProperty: "cde", keyPath: "CDE")
But from API key name was cde , But Currently getting new issue ::
https://github.com/Yalantis/FastEasyMapping/issues/124
Thanks .

[2020-04-19 07:05] krishnasolankiBigbang opened #124 "Getting crash App While Mapping"
Hello
I am using swift verison pod 'FastEasyMapping', '~> 1.2'.

I am getting error :: Terminating app due to uncaught exception 'NSUnknownKeyException', reason: '[<__NSCFString 0x6000001d97e0> valueForUndefinedKey:]: this class is not key value coding-compliant for the key ID
Getting exception in line  FEMDeserializer.collection(fromRepresentation: arrPlanVisit, mapping: ABC.defaultmapping(), con

[2020-04-19 07:10] #123 closed, assigned to nobody

[2020-07-10 05:38] krishnasolankiBigbang opened #125 "Can not map attribute from string to Double"
Hello
I am getting response lattitude value as String ,In database its double value. Though there is some value from server,  I am getting 0 value everytime.Code is as bellow ::

@NSManaged var lattitude : Double
 class func defaultmapping()->FEMMapping{
mapping.addAttribute(Mapping.doubleAttributeFor(property: "lattitude" , keyPath: "Lattitude"))
}

File :: Mapping.swift

class func doubleAttribu

[2020-07-14 09:06] dimazen commented on #125
How about that:
[code]
?

[2020-07-18 11:32] krishnasolankiBigbang commented on #125
App is getting crash with exception ::
Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Invalid parameter not satisfying: property.length > 0'
*** First throw call stack:
(
	0   CoreFoundation                      0x000000010e26b27e __exceptionPreprocess + 350
	1   libobjc.A.dylib                     0x000000010deeeb20 objc_exception_throw + 48
	2   CoreFounda

[2020-07-18 11:41] krishnasolankiBigbang commented on #125
xxx is my app name , App is getting crash with this exception ::
Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Invalid parameter not satisfying: property.length > 0'
*** First throw call stack:
(
	0   CoreFoundation                      0x0000000109a9627e __exceptionPreprocess + 350
	1   libobjc.A.dylib                     0x0000000109719b20 objc_exception_

[2020-07-20 08:37] dimazen commented on #125
Ok, it seems, that you have passed an empty property. Can you share your code, please?

[2020-07-20 08:37] dimazen commented on #125
The code I've posted above is just a sample one, you need to pass property and keypath over there

[2020-07-23 07:36] krishnasolankiBigbang commented on #125
Ya , It Was my mistake particular property type was different . Your code worked.

Thanks   a lot.

[2020-07-23 07:36] #125 closed, assigned to nobody

[2020-08-24 21:10] m1a7 opened #126 "How to map a data model where the key in json is not fixed ?"
![Screenshot 2020-08-24 at 23 08 36](https://user-images.githubusercontent.com/13185966/91096787-e31f1200-e65e-11ea-9464-a7debcc8bc98.png)

@interface UserCounter : NSObject
@property (nonatomic, strong) NSString* counterName;
@property (nonatomic, strong) NSString* counterNumber;
@end

[2020-08-24 21:57] m1a7 commented on #126
Solved !

[code]

[2020-08-24 21:57] #126 closed, assigned to nobody

[2020-10-06 04:24] krishnasolankiBigbang opened #127 "App is crashing while trying to save data in database"
Hello ,
I am using pod 'FastEasyMapping', '~> 1.2' using pod .

My app is crashing while trying to save data in database .Code for saving data is as bellow ::

` let arrOfXYZHistory = [responseDic] as? [[String:Any]] ?? [[String:Any]]()
  MagicalRecord.save({ (localcontext) in
        FEMDeserializer.collection(fromRepresentation:arrOfXYZHistory

        , mapping: XYZHistory.defaultMapping())

[2020-10-20 18:11] krishnasolankiBigbang opened #128 "How to map double value in Swift"
Hello ,

I am using femmapping in swift.I need guidance for mapping double value .My code is as bellow.

"//For Product Class
     let atr = FEMAttribute(property: property, keyPath: keyPath, map: { value -> Any? in

            if let value = value as? String, let convertedValue = Double(value) {
                return NSNumber(value: convertedValue)
            }
            return nil
        }

[2020-10-21 19:02] dimazen commented on #128
Hello, @krishnasolankiBigbang
First code looks pretty solid. I would do the same unless there are more things. Can you tell me what exactly goes wrong? Are you using the same attribute across different mappings?

[2020-11-25 16:19] krishnasolankiBigbang commented on #128
Sorry for late , Its Solved Actually  issue was due to  backend side , as in one class value was coming in string and I Aspect as float So this happened .

[2020-11-25 16:19] #128 closed, assigned to nobody

[2020-12-10 05:35] krishnasolankiBigbang commented on #127
issue is resolved by change the method .

FEMDeserializer.object(fromRepresentation: responseDic, mapping: XYZHistory.defaultMapping(), context: localcontext)

[2020-12-10 05:35] #127 closed, assigned to nobody

[2020-12-10 05:43] krishnasolankiBigbang opened #129 "Getting value nill after mapping"
**class of mapping is ::**
class XYZSetting: NSManagedObject {

    var address_id:NSNumber!
    var client_name:String!
    var clientvendorid:NSNumber!
    var company_id:NSNumber!
    var location_type:NSNumber!
    var modified_by:NSNumber!
    var user_id:NSNumber!
    var userlocationtype:NSNumber!
    var clientaddress:AddressList?

    class func entityName()->String{
        return "XYZSe